<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: auto;">
            <div class="col-12 col-md-6" style="max-width:fit-content; padding-top: 20px;">
                <div class="container text-center">
                    <h1>Click for Bananas</h1>
                    <h2 style="font-style: italic;">{{ username }}</h2>
                </div>
                <form method="POST">
                    <div class="container text-center">
                        <button name="clicker" class="btn" style="border: none; padding: 0; background: transparent;">
                            <img src="../images/banana.png" alt="button image"/>
                        </button>
                    </div>
                </form>
                <div class="container text-center">
                    <p class="text-center">Bananas: {{ bananas }}</p>
                    <form action="delete-api"method="DELETE">
                        <button name="deleter" class="text-center">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
